body {
  background-color: red;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Additional CSS styles */
input[type="password"],
button {
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}

#errorMessage {
  color: black;
  font-size: 16px;
  margin-top: 10px;
  font-style: italic;
  text-align: justify;
  text-align-last: justify;
}


.watermark {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  color: #999;
  font-size: 12px;
}

.watermark a {
  color: #03a2ff;
  text-decoration: none;
}

.watermark a:hover {
  color: #666;
}